<div id="bgLayer" style="margin-top: -86px;"  *ngIf="declinePop"></div>


<div class="popupMainBx" *ngIf="declinePop">
	<div class="popup">
		<div class="descBx">
			<a href="javascript:;" (click)="cancel()" class="popClose"></a>
			<h2><span>Lorem ipsum dolor</span></h2>
			<div class="msgBx">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor</div>
			<input type="button" value="yes" (click)="sourceConfirmation('Y')" class="submitBtn btn" />
			<input type="button" value="no" (click)="cancel()" class="cancelBtn" />
		</div>
	</div>
</div>

<section id="privacyNotice" class="container-fluid">
    <div class="container">
      <div class="titleTxt">
        <h2>PRIVACY NOTICE AND CONSENT FORM</h2>
        <em>[This notice describes how personal information about you may be used and disclosed and how you can get access to this information. Please review it carefully.]</em>
      </div>
      <ul class="upperroman">
        <li>Wipro Limited ("<strong>we</strong>" or "<strong>us</strong>") respects and is committed to the protection of your Sensitive and Personal Information and your privacy. This Personal Data Protection Notice ("<strong>Notice</strong>"), prepared in accordance with the applicable laws of United Kingdom explains how Wipro processes your personal data as part of the recruitment process  This Notice supplements but does not supersede nor replace any other consent(s) you may have previously provided to us in respect to your personal data.</li>
        <li><strong>IDENTITY OF THE Entity collecting the personal data: <em>Wipro Ltd, 185 King's Rd, Reading RG1 4EX, United Kingdom.</em></strong></li>
      </ul>
      <h3>DEFINITIONS</h3>
      For the purposes of this Notice:
      <ul class="loweralpha">
        <li>"Affiliates" means Wipro Limited and/or related companies, including their related companies;</li>
        <li>"Partner(s)" means customer(s), vendor(s), authorized service partner(s) and/or business partner(s);</li>
        <li>Personal Data: Personal data shall mean data, whether true or not, about an individual who can be identified from that data, or from that data and other information to which the organization has or is likely to have access.</li>
        <li>Processing: Any operation or set of operations which is performed upon personal data, whether or not by automatic means, such as collection, recording, organization, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, blocking, erasure or destruction.</li>
      </ul>
      <strong><em>III. What PERSONAL DATA Do We PROCESS?</em></strong><br />
      In order for us to fulfil one or more of our obligations, the following categories of personal data are processed:
      <ul class="loweralpha">
        <li>Academic details</li>
        <li>Current employment details.</li>
        <li>Compensation</li>
        <li>Personal contact details (First name, Middle Name, Last Name, Date of Birth, Gender, Maiden name, Current Address, Permanent address, Phone number (home/ work Landline and Mobile number), Personal email id, passport number.</li>
      </ul>

      <strong><em>IV. PROCESSING PURPOSE(S)</em></strong><br />
      As part of the Talent Acquisition process, we will process your Personal Data, for the following purposes:
      <ul class="loweralpha">
        <li>Evaluation of the job applicant</li>
        <li>Job application management</li>
        <li>Offer Letter Generation</li>
        <li>Onboarding Documentation</li>
        <li>Periodic Notification through system to employee</li>
        <li>Background Verification</li>
      </ul>

      <strong><em>V. HOW WE USE, SHARE & DISCLOSE YOUR PERSONAL DATA</em></strong><br />
      Our Partners and Affiliates for the purposes of collecting and using your personal information as described in this Notice are as follows:
      <ul class="loweralpha">
        <li><strong>Usage & Sharing:</strong> Your personal data, including sensitive personal will be shared only with certain Wipro employees and / or vendor partners who have a legitimate business need & and are authorized to access such data in connection with the above stated purpose(s).</li>
        <li><strong>Categories of recipients internal to Wipro:</strong> (On-boarding team, ID creation team, Geo HR, Travel Team, Hospitality Team)</li>
        <li><strong>Categories of recipients external to Wipro:</strong> (Payroll & Benefits service providers)</li>
        <li><strong>Disclosure of your personal data:</strong> In addition to the above, your personal data may be disclosed where required by applicable legislation, rule of law or the order of a court of law.</li>
      </ul>

      <strong><em>VI. YOUR RIGHTS</em></strong><br />
      1Under the General Data Protection Regulation (“GDPR”) and relevant EU member state law thereunder, you have a number of rights with regard to your personal data and in this respect, you have the following rights which will be subject to the applicable data protection laws.
      <ul class="loweralpha">
        <li>You have the right to check whether we hold or use your Personal Data and request access to such data</li>
        <li>You have the right to request a restriction of sharing your Personal Data with any third parties.</li>
        <li>You have the right to request that we correct any of your Personal Data that is inaccurate incomplete or out of-date</li>
        <li>You have the right to request that your Personal Data is retained by us only as long as necessary for the fulfilment of the purposes for which it was collected</li>
        <li>You have the right to request that we specify or explain its policies and procedures in relation to data and types of Personal Data handled by us;</li>
        <li>You have the right to communicate to us your objection to the use of your Personal Data for marketing purposes whereupon we will not use your Personal Data for these purposes;</li>
        <li>You have the right to withdraw your consent given previously, in each case subject to any applicable legal restrictions, terms of employment contract and a reasonable time period.</li>
      </ul>

      Your written request for access to Personal Data or correction and/or deletion of Personal Data or for information regarding policies and procedures and types of Personal Data handled by us can be directed to us at   (business to indicate a generic email id where such queries can be directed to) . You may also contact the EU data privacy officer at <a href="mailto:dpo-europe@wipro.com">dpo-europe@wipro.com</a><br /><br />
      <strong><em>VII. SECURITY OF YOUR PERSONAL DATA</em></strong><br />
        Appropriate measures are taken to prevent unauthorized access, unlawful processing, unauthorized or accidental loss or destruction of the personal data.<br /><br />We shall keep and process your data in a secure manner. We endeavor, where practicable, to implement the appropriate administrative and security safeguards and procedures in accordance with the applicable laws and regulations to prevent the unauthorized or unlawful processing of your Personal Data and the accidental loss or destruction of, or damage to, your Personal Data.<br /><br />
      <strong><em>VIII. DATA RETENTION</em></strong><br />
      We will retain your personal data for period that justifies our business and / or contractual relationship with you and for a reasonable period thereafter, in accordance with legal requirements and internal policies.  Personal Data no longer required will be disposed off promptly and in a secured manner.<br /><br />
      <strong><em>IX. INTERNATIONAL TRANSFERS</em></strong><br />
      In limited and necessary circumstances, your information may be transferred including outside the EEA to comply with our legal or contractual requirements. For instance, we may transfer your personal data to other companies in the Wipro group of companies for purposes connected with your employment or the management of the Company’s business, or to global suppliers providing services to us. Such transfers will be done subject to executing a copy of the standard contractual clauses under which appropriate technical and organizational measures to protect the information against unauthorized or unlawful processing and against accidental loss or destruction of, or damage. Further, all third parties to whom your information is transferred will be contractually obliged to use it only for the relevant purpose and not to forward the data to other parties without your consent.<br /><br />
      <strong><em>CONSENT FOR COLLECTION AND PROCESSING OF PERSONAL INFORMATION</em></strong><br /><br />
      <label class="containerChkBx">I, (<strong>First Name and Last name</strong>): have received, read and understood the above Privacy Notice and consent to the collection and processing, uses and disclosure of my Personal Data as described in this Privacy Notice including to my Personal Data being transferred to Wipro Limited in India and to my personal data being used and processed there.
        <input name="chkBoxCD" type="checkbox" (click)="onClick()"  #checkBox >
        <span class="checkmark"></span>
      </label>
      <div class="note"><span>Note:</span>Should you choose not to provide a consent by not signing the consent section after reading the same, we shall not be able to process your application any further for the purpose of filling up the job vacancy. However, please note that Wipro reserves the right to retain you application for as long as there are business or legal needs as mandated by the data protection and employment statutes for the time being in force in United Kingdom. In all such instances, we shall retain your application in a secure manner.</div>
      <div class="btmBtn">
        <input type="button" value="decline" (click)="onDecline()" class="cancelBtn" />
        <input type="button" [disabled]='isInvalid()' (click)="onAccept()" value="accept" class="submitBtn btn" />
      </div>
    </div>
  </section>