<div id="bgLayer" style="margin-top: -86px;"  *ngIf="hasError || showSuccessMessage"></div>
<div class="popupMainBx" *ngIf="hasError">
  <div class="popup">
    <div class="descBx">
      <a href="javascript:;" (click)="cancel()" class="popClose" role="link" tabindex="-1" aria-label="Close Popup"></a>
      <h2><span>Error(s)</span></h2>
      <div class="msgBx">
        <ul *ngFor="let error of errorMessage">
          <li>
            <p style="color:red">{{error}}</p>
          </li>
        </ul>
      </div>
      <!-- <input type="button" value="yes" (click)="sourceConfirmation('Y')" class="submitBtn btn" /> -->
      <input type="button" value="Ok" (click)="cancel()" class="cancelBtn" role="button" tabindex="-1" aria-label="Cancel" />
    </div>
  </div>
</div>

<div class="popupMainBx" *ngIf="showSuccessMessage">
  <div class="popup">
    <div class="descBx">
      <a href="javascript:;" (click)="closePop()" class="popClose" role="link" tabindex="-1" aria-label="Close Popup"></a>
      <h2><span>Success</span></h2>
      <div class="msgBx">
        <p style="color:green">{{message}}</p>
      </div>
      <!-- <input type="button" value="yes" (click)="sourceConfirmation('Y')" class="submitBtn btn" /> -->
      <input type="button" value="Ok" (click)="navigateToDashboard()" class="cancelBtn" role="button" tabindex="-1" aria-label="Cancel" />
    </div>
  </div>
</div>

<section class="breadCrumb container-fluid">
    <a routerLink="/candidates/dashboard"><i class="left"></i> &nbsp; Dashboard</a>
  </section>
  <section class="changePasswordTop container-fluid">
    <div class="container">&nbsp;
    </div>
  </section>
  <section class="chgPswDetails container-fluid">
      <div class="container">
        <div class="chgPswImg">
          <div class="userPhoto">
              <img [src]="getProfilePic()" alt="">
          </div>
          <div class="userName"><span *ngIf="!!candidate">{{ candidate.candName }}</span><span *ngIf="!candidate">Sachin Narkar</span></div>
          <div class="userNumber">Resume Number: 
            <span *ngIf="!!candidate"> {{ candidate.resumeNumber }}</span>>
          </div>
          <div class="userDetails">
             <div class="uAdd" *ngIf="!!candidate">{{ candidate.jobLocation  }}</div>
            <!-- <div class="uMob">9029422005</div> -->
            <div class="uEmail" *ngIf="!!candidate">{{ candidate.candEmalId  }}</div>
          </div>
        </div>
      </div>
    </section>
  <section class="changePassword container-fluid">
    <div class="container">
      <form [formGroup]="changePasswordForm">
        <h1 class="bdrBtmy3"><span>Change Password</span></h1>
        <div class="change_password_form"><br />
          <div class="row">
            <div class="col-sm-5">
              <div class="input-effect has-content">
                <input class="inputFloatEffect" tabindex="0" aria-required="true" aria-label="Current Password" [ngClass]="{'has-content' : f.currentPassword.value !=='' && f.currentPassword.value !==null}" value="123" type="password" formControlName="currentPassword" placeholder="">
                <label>Current Password</label>
                <span class="focus-border"></span>
              </div>
              <div class="input-effect has-content">
                <input class="inputFloatEffect" tabindex="0" aria-required="true" aria-label="New Password" value="" [ngClass]="{'has-content' : f.newPassword.value !=='' && f.newPassword.value !==null && f.newPassword.value !==null}" type="password" formControlName="newPassword" placeholder="">
                <label>New Password</label>
                <span class="focus-border"></span>
              </div>
              <div class="input-effect">
                <input class="inputFloatEffect" tabindex="0" aria-required="true" aria-label="Confirm Password" value="" type="password" formControlName="cnewPassword" [ngClass]="{'has-content' : f.cnewPassword.value !=='' && f.cnewPassword.value !==null}" placeholder="">
                <label>Confirm Password</label>
                <span class="focus-border"></span>
              </div>
              <input type="button" value="submit" (click)="onSubmit(changePasswordForm.value)"  class="submitBtn btn" role="button" tabindex="0" aria-label="Submit" />
              <input type="button" (click)="reset()" value="Reset" class="cancelBtn" role="button" tabindex="0" aria-label="Reset" />
            </div>
            <div class="col-sm-7">&nbsp;</div>
          </div>
        </div>
      </form>
    </div>
  </section>