<div class="popupMainBx"><div class="popup spad" >
    <div class="descBx">
      <a href="javascript:;" (click)="popCancel()" class="popClose"></a>
      <h2><span>Voluntary self declaration of gender and sexual orientation</span></h2>
      <div class="vsdogaso">
        <h4>Personal declaration information</h4>
        <p>Lesbian, gay, bisexual and transgender (LGBT) diversity is a pillar of Wipro’s Inclusion & Diversity program.  Our Inclusion philosophy is guided by the Spirit of Wipro, which expects us to treat each person with respect. For the LGBT community at Wipro, our goal is to create a workplace and environment where they are welcomed, feel safe, treated with equal respect and acceptance and not subjected to bias.  Our policies and benefits also reflect the needs of the LGBT community.</p> 
        <p>For both LGBT and non-LBGT individuals alike, sexual orientation, gender identity, gender expression and preferred personal pronoun are defining individual characteristics that we all bring to work. Providing the opportunity for employees to self-identify any or all of these areas is important to creating an inclusive environment.</p>			 
        <p>The information which you voluntarily provide below may be used in the following ways:</p>
        <ul>
          <li>Aggregated to determine the size and make up of Wipro’s LGBT community</li>
          <li>Shared with HR systems and managers to ensure your preferred designations are followed in written and verbal communications</li>
        </ul><br />
        <p><strong>Please check your responses in the following areas</strong></p>
        <div class="selfDecBx">
          <div class="row">
            <div class="col-sm-6">
              <div class="title">Gender Identity<span>What gender do you consider for yourself?</span></div>
              <select class="form-control" role="listbox" tabindex="-1" aria-label="Gender Identity">
                <option>Please select</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="col-sm-6">
              <div class="title">Gender Expression<span>What gender do you outwardly display?</span></div>
              <select class="form-control" role="listbox" tabindex="-1" aria-label="Gender Expression">
                <option>Please select</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="title">Preferred Gender Pronoun<span>What pronoun do you prefer to be used to describe yourself?</span></div>
              <select class="form-control" role="listbox" tabindex="-1" aria-label="Preferred Gender Pronoun">
                <option>Please select</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
            <div class="col-sm-6">
              <div class="title">Sexual Orientation<span>What is your sexuality?</span></div>
              <select class="form-control" role="listbox" tabindex="-1" aria-label="Sexual Orientation">
                <option>Please select</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
        </div>
        <input type="button" value="Submit"  (click)="popCancel()" class="submitBtn btn" role="button" tabindex="-1" aria-label="Submit" />
		<input type="button" value="cancel"  (click)="popCancel()" class="cancelBtn" role="button" tabindex="-1" aria-label="Cancel" />
      </div>
    </div>
  </div></div>