<section class="breadCrumb container-fluid">
    <a routerLink="/candidates/dashboard"><i class="left"></i> &nbsp; Dashboard</a>
  </section>
  <section class="jobBasketTop jobProfile">
    <div class="container">
      <h1 class="bdrBtmy3"><span>Do It Yourself</span></h1>
      <p>We are always there to help you during your job application at Wipro. We have enlisted all your tasks and their statuses to help you quickly move to the next step.</p>
    </div>
  </section>
  <section id="myTasks" class="container-fluid">
    <div class="container">
      <h2><span>My Tasks</span><label *ngIf="!!pendingTaskList">{{pandingTask.length}}</label></h2>
      <div class="taskDetails">
        <div class="taskDiv" *ngFor="let pendingTask of pendingTaskList ">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6">
              <div class="uncompleted">
                <h3 style="text-transform:capitalize;">{{sectionName(pendingTask.sectionName)}}</h3>
                <p>{{pendingTask.sectionDetails}}</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" *ngIf="pendingTask.completed =='N'">
              <div class="centerDiv">
                <input value="Update Now" (click)="navigateTo(pendingTask)" class="submitBtn btn" type="button" role="button" tabindex="0" aria-label="Update Now">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3" *ngIf="pendingTask.completed =='Y'">
              <div class="centerDiv">
                <img src="assets/images/icons/completed.png" alt="Completed">
                <span>Completed</span>
              </div>
            </div>
          </div>
        </div>
        <div class="taskDiv" *ngIf="!!failureMessage">
          {{failureMessage}}
          </div>
      </div>
    </div>
  </section>
  <section id="recommended_jobs" class="container-fluid">
    <div class="container">
      <h2 class="bdrBtmy3"><span>Recommended Jobs</span></h2>
    </div>
    <app-recommended-job-carousel></app-recommended-job-carousel>
  </section>