<app-job-profile-header></app-job-profile-header>
  <section id="intSchedule" class="container-fluid">
    <div class="container">
      <div class="resumeStatus">
        <h2>Resume Status: <span>Screened</span></h2>
        <div class="resumeStage">
          <span class="sc">Stage Completed</span>
          <span class="cs">Current Stage</span>
          <span class="ns">Next Stage</span>
        </div>
      </div>
      <div class="schedule">
        <ul>
          <li class="completed">
            <span>
              <img src="assets/images/icons/to-screen.png" alt="To Screen" class="done">
              <img src="assets/images/icons/to-screen-a.png" alt="To Screen" class="ndone">
            </span>
            <i><img src="assets/images/icons/done.png" alt="Done"></i>
            <b>To Screen</b>
          </li>
          <li class="active">
            <span>
              <img src="assets/images/icons/screened.png" alt="Screened" class="done">
              <img src="assets/images/icons/screened-a.png" alt="Screened" class="ndone">
            </span>
            <i><img src="assets/images/icons/done.png" alt="Done"></i>
            <b>Screened</b>
          </li>
          <li class="dactive">
            <span>
              <img src="assets/images/icons/business-interview.png" alt="Business Interview" class="done">
              <img src="assets/images/icons/business-interview-a.png" alt="Business Interview" class="ndone">
            </span>
            <i><img src="assets/images/icons/done.png" alt="Done"></i>
            <b>Business Interview</b>
          </li>
          <li class="dactive">
            <span>
              <img src="assets/images/icons/int-sche.png" alt="Interview Schedule" class="done">
              <img src="assets/images/icons/int-sche-a.png" alt="v" class="ndone">
            </span>
            <i><img src="assets/images/icons/done.png" alt="Done"></i>
            <b>Interview Schedule</b>
          </li>
          <li class="dactive">
            <span>
              <img src="assets/images/icons/hr-interview.png" alt="HR interview" class="done">
              <img src="assets/images/icons/hr-interview-a.png" alt="HR interview" class="ndone">
            </span>
            <i><img src="assets/images/icons/done.png" alt="Done"></i>
            <b>HR Interview</b>
          </li>
          <li class="dactive">
            <span>
              <img src="assets/images/icons/fitment.png" alt="Fitment" class="done">
              <img src="assets/images/icons/fitment-a.png" alt="Fitment" class="ndone">
            </span>
            <i><img src="assets/images/icons/done.png" alt="Done"></i>
            <b>Fitment</b>
          </li>
          <li class="dactive">
            <span>
              <img src="assets/images/icons/offer.png" alt="Offer" class="done">
              <img src="assets/images/icons/offer-a.png" alt="Offer" class="ndone">
            </span>
            <i><img src="assets/images/icons/done.png" alt="Done"></i>
            <b>Offer</b>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="intDet" class="container-fluid">
    <div class="interviewDetails twojb">
      <span class="topArw"></span>
      <h2><span>Screened</span></h2>
      <div class="jobDetails">
        <h2>Your profile is not shortlisted</h2>
      </div>
    </div>
  </section>
  <section id="recommended_jobs" class="container-fluid">
    <div class="container">
      <h2 class="bdrBtmy3"><span>Recommended Jobs</span></h2>
    </div>
    <app-recommended-job-carousel></app-recommended-job-carousel>
  </section>