
<section id="login_registration" class="container-fluid">
	<div *ngIf="step1" class="container">
		<h2 class="bdrBtmy2a"><span>Forgot password</span></h2>
		<div class="reg_form"><br />
			<div class="row">
				<div class="col-sm-4">
					<div class="input-effect has-content">
						<input class="inputFloatEffect"  [ngClass]="{'has-content':emailField}" (keyup)="onKey($event.target.value)" value="" type="text" placeholder="">
						<label>Registered Email ID</label>
						<span class="focus-border"></span>
					</div>
					<div class="orSeprator" align="center">
						<img src="assets/images/reg_or_sepratorHor.png" alt="OR" />
					</div>
					<div class="input-effect">
						<input class="inputFloatEffect" class="inputFloatEffect" [ngClass]="{'has-content':contactField}" (keyup)="onKeyContact($event.target.value)" value="" type="text" placeholder="">
						<label>Registered Mobile Number</label>
						<span class="focus-border"></span>
					</div>
					<input type="button" value="submit" (click)="clickStep2()" class="submitBtn btn" />
					<input type="button" value="back" (click)="back()" class="cancelBtn" />
				</div>
				<div class="col-sm-8">&nbsp;</div>
			</div>
		</div>
  </div>
  
  <div class="container" *ngIf="step2">
		<h2 class="bdrBtmy2a"><span>Forgot password</span></h2>
		<div class="reg_form"><br />
			<div class="row">
				<div class="col-sm-4">
					<div class="input-effect has-content">
						<input class="inputFloatEffect has-content error" value="123456" type="password" placeholder="">
						<span class="errorMsg">Please enter valid OTP</span>
						<label>Enter OTP</label>
						<span class="focus-border"></span>
					</div>
					<input type="button" (click)="clickStep3()" value="verfiy" class="submitBtn btn" />
					<input type="button" (click)="clickStep3()" value="resend otp" class="cancelBtn" />
				</div>
				<div class="col-sm-8">&nbsp;</div>
			</div>
		</div>
  </div>
  
  <div *ngIf="step3" class="container">
		<h2 class="bdrBtmy2a"><span>Reset password</span></h2>
		<div class="reg_form"><br />
			<div class="row">
				<div class="col-sm-4">
					<div class="input-effect has-content">
						<input class="inputFloatEffect" [ngClass]="{'has-content':newPasswordField}" (keyup)="onKeyNewPassword($event.target.value)" value="" type="password" placeholder="">
						<label>New Password</label>
						<span class="focus-border"></span>
					</div>
					<div class="input-effect">
						<input class="inputFloatEffect" [ngClass]="{'has-content':confirmPasswordField}" (keyup)="onKeyConfirmPassword($event.target.value)"  value="" type="password" placeholder="">
						<label>Confirm Password</label>
						<span class="focus-border"></span>
					</div>
					<input type="button"  (click)="navigateToLoginPage()" value="reset password" class="submitBtn bigBtn btn" />
				</div>
				<div class="col-sm-8">&nbsp;</div>
			</div>
		</div>
	</div>
</section>
